services:
  deepseek-ocr:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: deepseek-ocr-api
    ports:
      - "8600:8600"
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: 1
    restart: unless-stopped
